# This is an example environment file for the client. Copy this to .env.local and fill in the values.
NEXT_PUBLIC_BACKEND_URL="2erefdff:4000"
NEXTAUTH_SECRET='ko0o0eofge2j2i-2i-2i-2i-2itrif2jfj'
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY='000i999'