.user-header {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  padding: 12px 16px;
  background: #fff;
  border-bottom: 1px solid #eee;
  height: 72px;

  .menu-icon {
    cursor: pointer;
    flex: 0 0 auto; // stays left
  }

  .header-logo {
    font-family: 'Archivo Black', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 700;
    color: #000;
    white-space: nowrap;
    flex: 1;
    text-align: center;
    // 700;
    color: #000;
  }
}
