.newsletter {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('https://images.unsplash.com/photo-1625025850789-fec5bce0a2fd?q=80&w=1332&auto=format&fit=crop&ixlib=rb-4.1.0')
      center/cover no-repeat;
  overflow-x: auto; // Allow horizontal scroll if needed
  padding: 0; // remove padding that forces shrink on mobile

  .formSection {
    background: #fff;
    padding: 2rem 3rem;
    //border-radius: 6px;
    width: 500px !important; // fixed width
    min-width: 500px !important; // prevents shrinking
    text-align: left;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    margin: 0 auto;

    h2 {
      text-align: center;
      font-size: 0.8rem;
      // 500;
      color: #111;
      margin-bottom: 1rem;
    }

    p {
      text-align: center;
      font-size: 0.8rem;
      // 500;
      color: #444;
      margin-bottom: 2rem;
    }

    form {
      .inputGroup {
        position: relative;
        margin-bottom: 1.5rem;

        input {
          width: 100%;
          padding: 0.8rem;
          border: none;
          border-bottom: 1px solid #333;
          outline: none;
          font-size: 0.8rem;
        }

        label {
          position: absolute;
          top: -10px;
          left: 0;
          font-size: 0.8rem;
          // 500;
          color: #111;
        }

        .underline {
          display: block;
          height: 2px;
          width: 0;
          background: #000;
          transition: width 0.3s ease;
        }

        input:focus + label + .underline {
          width: 100%;
        }
      }

      .radioGroup {
        margin-bottom: 1.5rem;

        label {
          display: block;
          margin-bottom: 0.5rem;
          // 500;
        }

        div {
          display: flex;
          align-items: center;
          margin-bottom: 0.4rem;

          input {
            margin-right: 0.5rem;
          }
        }
      }

      .checkboxGroup {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1rem;
        text-transform: none;

        input {
          margin-right: 0.6rem;
          margin-top: 0.2rem;
        }

        label {
          font-size: 0.8rem;
          color: #444;

          a {
            color: #000;
            text-decoration: underline;
          }
        }
      }

      .submitBtn {
        display: block;
        width: 100%;
        padding: 0.9rem;
        background: #000;
        color: #fff;
        border: none;
        font-size: 1rem;
        // 500;
        cursor: pointer;
        transition: background 0.3s ease;

        &:hover {
          background: #333;
        }
      }
    }
  }
}
